<div
  class="rounded-box border-base-content/5 bg-base-100 w-full max-w-6xl min-w-4xl border"
>
  <table class="table-zebra table text-center">
    {/* head */}
    <thead class="bg-base-300 text-base-content">
      <tr>
        <th>Hora</th>
        <th>Segunda</th>
        <th>Terça</th>
        <th>Quarta NOGI</th>
        <th>Quinta</th>
        <th>Sexta</th>
        <th>Sábado</th>
      </tr>
    </thead>
    <tbody>
      {/* 09h00 */}
      <tr>
        <th>09h00</th>
        <td><b>Feminina</b></td>
        <td></td>
        <td>
          <b>Feminina</b>
          <br />
          <span class="badge badge-ghost">(com kimono)</span>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {/* 09h30 */}
      <tr>
        <th>09h30</th>
        <td></td>
        <td>
          Mini Kids <br />
          <span class="badge badge-ghost"
            ><div aria-hidden={true} class="status status-secondary"></div>4 a 7
            anos</span
          ></td
        >
        <td></td>
        <td>
          Mini Kids <br />
          <span class="badge badge-ghost"
            ><div aria-hidden={true} class="status status-secondary"></div>4 a 7
            anos</span
          ></td
        >
        <td></td>
        <td></td>
      </tr>
      {/* 11h00 */}
      <tr>
        <th>11h00</th>
        <td>
          <span class="underline">Iniciantes</span> /<br /><b>Graduados</b></td
        >
        <td></td>
        <td>
          <span class="underline">Iniciantes</span> /<br /><b>Graduados</b></td
        >
        <td></td>
        <td>
          <span class="underline">Iniciantes</span> /<br /><b>Graduados</b></td
        >
        <td><span class="badge badge-outline">Sabadonze</span></td>
      </tr>
      {/* 12h00 */}
      <tr>
        <th>12h00</th>
        <td></td>
        <td><b>Graduados</b></td>
        <td></td>
        <td><b>Graduados</b></td>
        <td></td>
        <td></td>
      </tr>
      {/* 17h00 */}
      <tr>
        <th>17h00</th>
        <td></td>
        <td class="underline">Iniciantes</td>
        <td></td>
        <td class="underline">Iniciantes</td>
        <td></td>
        <td></td>
      </tr>
      {/* 17h30 */}
      <tr>
        <th>17h30</th>
        <td>
          Kids <br />
          <span class="badge bg-accent badge-ghost"
            ><div aria-hidden={true} class="status status-error"></div>8 a 12
            anos</span
          ></td
        >
        <td>
          Kids <br />
          <span class="badge bg-accent badge-ghost"
            ><div aria-hidden={true} class="status status-error"></div>8 a 12
            anos</span
          ></td
        >
        <td>
          Kids <br />
          <span class="badge bg-accent badge-ghost"
            ><div aria-hidden={true} class="status status-error"></div>8 a 12
            anos</span
          ></td
        >
        <td>
          Kids <br />
          <span class="badge bg-accent badge-ghost"
            ><div aria-hidden={true} class="status status-error"></div>8 a 12
            anos</span
          ></td
        >
        <td></td>
        <td></td>
      </tr>
      {/* 18h15 */}
      <tr>
        <th>18h15</th>
        <td>
          Mini Kids
          <br />
          <span class="badge bg-accent badge-ghost"
            ><div aria-hidden={true} class="status status-secondary"></div>
            4 a 7 anos</span
          >
        </td>
        <td>
          Mini Kids
          <br />
          <span class="badge bg-accent badge-ghost"
            ><div aria-hidden={true} class="status status-secondary"></div>
            4 a 7 anos</span
          >
        </td>
        <td>
          Mini Kids
          <br />
          <span class="badge bg-accent badge-ghost"
            ><div aria-hidden={true} class="status status-secondary"></div>
            4 a 7 anos</span
          >
        </td>
        <td>
          Mini Kids
          <br />
          <span class="badge bg-accent badge-ghost"
            ><div aria-hidden={true} class="status status-secondary"></div>
            4 a 7 anos</span
          >
        </td>
        <td></td>
        <td></td>
      </tr>
      {/* 18h30 */}
      <tr>
        <th>18h30</th>
        <td class="underline">Iniciantes</td>
        <td></td>
        <td class="underline">Iniciantes</td>
        <td class="underline">Iniciantes</td>
        <td>Iniciantes</td>
        <td></td>
      </tr>
      {/* 19h00 */}
      <tr>
        <th>19h00</th>
        <td></td>
        <td>
          Adolescentes <br />
          <span class="badge bg-accent badge-ghost"
            ><div aria-hidden={true} class="status status-primary"></div>12 a 16
            anos</span
          ></td
        >
        <td>
          Adolescentes <br />
          <span class="badge bg-accent badge-ghost"
            ><div aria-hidden={true} class="status status-primary"></div>12 a 16
            anos</span
          ></td
        >
        <td>
          Adolescentes <br />
          <span class="badge bg-accent badge-ghost"
            ><div aria-hidden={true} class="status status-primary"></div>12 a 16
            anos</span
          ></td
        >
        <td><b>Graduados</b></td>
        <td></td>
      </tr>
      {/* 19h30 */}
      <tr>
        <th>19h30</th>
        <td><b>Graduados</b></td>
        <td></td>
        <td><b>Graduados</b></td>
        <td><b>Graduados</b></td>
        <td></td>
        <td></td>
      </tr>
      {/* 20h00 */}
      <tr>
        <th>20h00</th>
        <td></td>
        <td>
          <span class="underline">Iniciantes</span> /<br /><b>Graduados</b></td
        >
        <td></td>
        <td>
          <span class="underline">Iniciantes</span> /<br /><b>Graduados</b></td
        >
        <td>
          <span class="underline">Iniciantes</span> /<br /><b>Graduados</b></td
        >
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
